.container {
    margin: 0 auto;
    padding: 130px 0;
    max-width: 1000px;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;;
    gap: 20px;
    /* justify-content: space-between; */
}

