.container {
    margin: 0 auto;
    padding: 130px 0;
    max-width: 1000px;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;;
    gap: 20px;
    /* justify-content: space-between; */
}

.notification {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 100;
}

.paginate {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.amount {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


@media (max-width: 1050px) {
    .container {
        padding: 130px 30px;
    }

    .inner {
        justify-content: start;
        gap: 2%;
    }
}

@media (max-width: 750px) {
    .container {
        padding: 10px 80px;
    }

    .inner {
        flex-direction: column;
        align-items: center;
    }

}