.wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.input {

    padding: 1px 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0.5);
    width: .1%;
    transform: scale(0);
    transition: all .4s ease-out;
}

.input.active {
    width: 40%;
    transform: scale(1);
}

.input.active:focus {
    box-shadow: 0 5px 10px -5px black;
}


.searchIcon {
    padding: 2px;
    position: absolute;
    right: 5px;
    top: 6px;
    border-radius: 20px;
}

.searchIcon:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgba(90, 90, 90, 0.1);
    transition: all .4s;
}

.btn {
    text-align: end;
    padding-top: 10px;
}

@media (max-width: 750px) {
    .search {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    .wrapper {
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }

    .title {
        padding: 10px 10px;
        font-size: 3.5vw;
    }

    .input {
        position: absolute;
        right: 0px;
        top: 64px;
    }

    .searchIcon {
        position: absolute;
        right: 0px;
        top: 63px;
        border-radius: 20px;
    }

    .input.active {
        width: 45%;
        min-height: 22px;
    }

    .btn {
        position: absolute;
        left: 23px;
        top: 78px;
        padding: 0;
        text-align: start;
    }
}