.post {
    width: 32%;
    min-width: 250px;
    position: relative;
    /* padding-bottom: 50px; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: border .1s;
    transition: transform .3s;
    border: .3px solid transparent

}

.post:hover {
    border: .3px solid rgba(0, 0, 0, 0.5);
}

.post:active {
    transform: scale(.98);
}

.avatar {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text {
    padding-bottom: 0;
}

.image {
    /* background-size:auto; */
    /* object-fit: contain; */

}

.favorite {
    color: red;
}

.cardActions {
    width: 95%;
    margin-top: auto;
    box-sizing: border-box;
    height: 64px;
    /* position: absolute; */
    justify-content: flex-start;
    /* bottom: 0; */
    position: relative;
}

.cardActions:before {
    content: "";
    width: 95%;
    position: absolute;
    top: 0;
    border-top: .3px solid rgba(0, 0, 0, 0.2);
}

.icon {
    pointer-events: none;
}

.bottomTags {
    margin-left: auto;
}

.numbLike {
    padding: 0 2px;
    font-size: 14px;
    /* width: 1em;
    border-radius: 50%;
    border: .3px solid gray; */
    font-style: italic;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 12px;
    color: rgba(128, 128, 128, 0.5);
    background-color: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 9px 11px;
    transition: all .3s;
}

.deleteBtn:hover {
    color: rgb(69, 69, 69);
    background-color: rgba(128, 128, 128, 0.05);
    transition: all .3s;
}

.deleteBtn:active {
    color: red;
}

.comments {
    position: relative;
    pointer-events: none;

}

.numberComments {
    position: absolute;
    bottom: 15px;
    font-size: 12px;
    color: white;
}

@media (max-width: 1050px) {
    .post {
        width: 49%;
        min-width: none;
        margin-bottom: 20px;
    }

    .image {

        width: 100%;
    }

}

@media (max-width: 750px) {
    .post {
        width: 100%;
        min-height: 450px;
    }

    .image {
        height: auto;
    }


}