.post {
    width: 32%;
    min-width: 250px;
    position: relative;
    padding-bottom: 50px;
}

.avatar {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.icon {
    pointer-events: none;
}

.image {
    background-size: contain;
}

.favorite {
    color: red;
}

.cardActions {
    position: absolute;
    bottom: 0;
}

.numbLike {
    padding: 0 2px;
    font-size: 16px;
    font-style: italic;
    position: absolute;
    bottom: 0;
    right: -3px;
}

.deleteBtn {
    position: absolute;
    right: 10px;
    top: 12px;
    color: rgba(128, 128, 128, 0.5);
    background-color: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px;
    transition: all .3s;
}

.deleteBtn:hover {
    color: rgb(69, 69, 69);
    background-color: rgba(128, 128, 128, 0.05);
    transition: all .3s;
}

.deleteBtn:active {
    color: red;
}


@media (max-width: 1050px) {
    .post {
        width: 49%;
        min-width: none;
        margin-bottom: 20px;
    }

    .image {

        width: 100%;
    }

}

@media (max-width: 750px) {
    .post {
        width: 100%;
        min-height: 450px;
    }

    .image {
        height: auto;
    }


}