.container {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 255, 255, 0.5);
    border: 3px solid gray;
    border-radius: 10px;
    position: relative;
}

.container:before {
    content: "";
    width: 50px;
    height: 50px;
    /* transform: translateY(50%); */
    border-left: 2px  rgba(128, 128, 128, 0.2);
    border-style:inset;
    position: absolute;
    left: 90px;
    top:35px;
    z-index: 0;
    background-color: rgb(238, 255, 0, 0.7);
    border-radius: 10px;

}

.container:after {
    content: "";
    width: 80px;
    height: 80px;
    /* transform: translateY(50%); */
    border-left: 2px  rgba(128, 128, 128, 0.2);
    border-style:inset;
    position: absolute;
    right: 80px;
    bottom:30px;
    z-index: 0;
    background-color: rgba(17, 255, 0, 0.6);
    border-radius: 10px;
}

.wrapper {
    background-color: rgb(211, 255, 255);
    width: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px -2px black;
    z-index: 5;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper input {
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 14px;
    color: gray;
    outline: none;
    border: .3px solid gray;
}

.email {
    position: relative;
    display: flex;
    flex-direction: column;
}

.password {
    position: relative;
    display: flex;
    flex-direction: column;
}

.error {
    position: absolute;
    padding: 0;
    color: red;
    font-size: 12px;
    bottom: -17px;
    left: 10px;
}