.title {
  margin: 15px 0;
  text-align: center;
}

.main__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main__slider {
  position: relative;
}


.main__text {
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  color: gray;

}

.main__text > h4 {
  color: black;
  font-size: 22px;
}

.main__slider:after {
  content: "";
  position: absolute;
  right: -2%;
  top: 0;
  width: 1px;
  height: 100%;
  /* transform: translateY(-50%); */
  border-left: .3px solid rgba(0, 0, 0, 0.3);
}

.guest__link {
  font-weight: bold;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  transition: .3s;
}

.guest__link:hover {
  color: black;
}

.comments__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.comments__title {
  margin: 20px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.comments__title:after {
  position: absolute;
  bottom: -20px;
  left: 0;
  content: "";
  width: 99%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}